//font
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//colors

$purple-50: #733FC8;
$purple-300: #A775F1;
$purple-500: #EDE4FF;

$grey-100: #E7EAEE;
$grey-200: #CFCFCF;
$grey-400: #676D7E;
$grey-500: #48556A;

$black: #121212;
$dark-blue: #19202D;
$white: #FFFFFF;

//fonts
%text-preset-1 {
  font-size: 1.25rem;
  line-height: 120%;
}

%text-preset-2 {
  font-size: 0.8125rem;
  line-height: 110%;
}

%text-preset-3 {
  font-size: 0.775rem;
  line-height: 140%;
}
%text-preset-4 {
  font-size: 0.6875rem;
  line-height: 110%;
}

//card
.content {
  margin: 4.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  border: 1px solid black;
  border-radius: 8px;
  padding: 2rem;
}

//profile
.profile {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  img {
    border-radius: 50%;
    width: 28px;
    height: 28px;
  }

  .profile-text {
    display: flex;
    flex-direction: column;

    bold {
      @extend %text-preset-2;
    }

    span {
      @extend %text-preset-4;
    }
  }
}

.text {
  h1 {
    @extend %text-preset-1;
    margin-bottom: 1rem;
  }

  p {
    @extend %text-preset-3;
  }
}
